<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>10:00-15:00</td> <td> <a href="https://beastyblacksmith.github.io/julia-lesson/" target="_blank">Learn programming using julia</a> </td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>10:00-15:00</td> <td> <a href="" target="_blank">The julia mental model</a> </td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>10:00-15:00</td> <td> <a href="" target="_blank">Julia package ecosystem</a> </td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr> <td>12:00-15:00</td> <td> <a href="" target="_blank">Optimizing julia code</a> </td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 5</h3>
    <table class="table table-striped">
      <tr> <td>12:00-15:00</td> <td> <a href="" target="_blank">Julia community</a> </td> </tr>
    </table>
  </div>
</div>
